
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary float-left">Listes des Clients</h6>
      <a ng-href="#!/customers/save" class="btn btn-primary float-right" >Nouveau Client</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="user_table" >
          <thead class="thead-light">
          <tr>
            <th>Nom</th>
            <th>Nom Complete</th>
            <th>Ville</th>
            <th>Quartier</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="customer in allCustomers">
            <td>{{customer.lastname}}</td>
            <td>{{customer.fullname}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.quarter}}</td>
            <td><i class="fas fa-file-alt"></i></td>
            <td>
              <div class="row">
                <a ng-href="#!/customers/{{customer.id}}/edit" class="btn btn-outline-secondary col-sm-4" ng-click="getClickUser(customer)"><i class="fas fa-user-edit"></i>Modifier</a>
                <div class="col-sm-1"></div>
                <a  data-toggle="modal" class="btn btn-outline-danger col-sm-4" data-target="#exampleModal" ng-click="getClickUser(customer)"><i class="fas fa-trash">Supprimer</i></a>
  <!--              <button type="button" class="btn btn-outline-danger col-sm-5">Danger</button>-->
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-init="initView()">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="exampleModalLabel">Alert</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" ng-click="remove(clickedUser.id)"><i>&#x1F623</i>OK</button>
        </div>
      </div>
    </div>
  </div>