<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Multiple Column</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="firstname">Prenom</label>
                    <input type="text" id="firstname" class="form-control"
                           placeholder="Prenom de l'utilisateur" name="firstname">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" id="lastname" class="form-control"
                           placeholder="nom de l'utilisateur" name="lastname">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="city-column">Ville</label>
                    <input type="text" id="city-column" class="form-control" placeholder="Veuillez choisir la ville"
                           name="city-column">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="quarter">quartier</label>
                    <input type="text" id="quarter" class="form-control"
                           name="quarter" placeholder="Veuillez choisir le quartier">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input type="text" id="telephone" class="form-control"
                           name="company-column" placeholder="Numero telephone">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control"
                           name="email" placeholder="Email">
                  </div>
                </div>
                <div class="form-group col-12">
                  <div class='form-check'>
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox5" class='form-check-input' checked>
                      <label for="checkbox5">Remember Me</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                  <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>