
<div class="card-box pb-10">
    <div class="h5 pd-20 mb-0">Recent Patient</div>
    <table class="data-table table nowrap">
        <thead>
        <tr>
            <th class="table-plus">Nom</th>
            <th>Gender</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>Active</th>
            <th class="datatable-nosort">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in allUsers">
            <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                    <div class="avatar mr-2 flex-shrink-0">
                        <img src="vendors/images/photo5.jpg"
                                class="border-radius-100 shadow"
                                width="40"
                                height="40"
                                alt=""/>
                    </div>
                    <div class="txt">
                        <div class="weight-600">{{user.fullname}}</div>
                    </div>
                </div>
            </td>
            <td>Male</td>
            <td>{{user.city}}</td>
            <td>{{user.quarter}}</td>
            <td>
				<span class="badge badge-pill"
                       data-bgcolor="#e7ebf5"
                       data-color="#265ed7"
                       style="color: rgb(38, 94, 215); background-color: rgb(231, 235, 245);"
                       >active
                </span>
            </td>
            <td>
                <div class="table-actions">
                    <a href="#!/users/{{user.id}}/edit" data-color="#265ed7" style="color: rgb(38, 94, 215);" ng-click="getClickUser(user)">
                        <i class="icon-copy dw dw-edit2"></i></a>
                    <a id="sa-params" data-color="#e95959" style="color: rgb(233, 89, 89);" ng-click="remove(user)">
                        <i class="icon-copy dw dw-delete-3"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
