
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold text-info float-left">Selectioner le client</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive" ng-init="fetchCustomers()">
      <table class="table table-bordered" id="user_table" >
        <thead class="thead-light">
        <tr>
          <th>Nom Client</th>
          <th>Ville</th>
          <th>Quartier</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="customer in allCustomers">
          <td>{{customer.name}}</td>
          <td>{{customer.city}}</td>
          <td>{{customer.quarter}}</td>
          <td>{{customer.phone}}</td>
          <td>
            <div class="table-actions">
              <a ng-href="#!/orders/review" class="btn btn-outline-info"  data-color="#265ed7" style="color: rgb(38, 94, 215);"
                 ng-click="getClickedCustomer(customer)"><i class="icon-copy dw dw-edit2"></i>Suivant</a>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>