

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h5 class="m-0 font-weight-bold text-info float-left">Resumé de la Commande</h5>
	</div>
	<div class="card-body" ng-init="initData()">
		<div class="card card-box pb-10">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-info float-left">Commande des articles suivant</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" >
						<thead class="thead-light">
						<tr>
							<th>Nom Produit</th>
							<th>Prix Unitaire</th>
							<th>Quantité</th>
							<th>Sous Total</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in cart">
							<td>{{item.product.name}}</td>
							<td>{{item.product.price}}</td>
							<td>{{item.qty}}</td>
							<td>{{getCost(item)}} FCFA</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="2"></td>
							<td>TOTAL</td>
							<td>{{cartTotal}}</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<span class="float-left ml-4">Par: <b>{{clickedCustomer.name}}</b></span>
			<span  class="float-left ml-4">Date: <b>{{currentDate | date: 'yyyy-MM-dd'}}</b></span>
			<div>
				<button  class="btn btn-outline-info float-right mr-4">Valider</button>
				<button  class="btn btn-outline-secondary float-right mr-4">Sauvegarder</button>
				<button  class="btn btn-outline-danger float-right mr-4">Annuler</button>
			</div>
		</div>
	</div>
</div>