

<div class="row">
  <div class="col-md-7 col-sm-12">
    <div class="card card-box pb-10">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info float-left">Liste des Produits</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="data-table table table-bordered nowrap" id="product_table">
            <thead>
            <tr>
              <th class="table-plus">Nom</th>
              <th>Prix</th>
              <th>Quantité</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products" ng-style="{'color':(product.stock <= 5)? '#0f6848' : null}">
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img ng-src="{{productimage}}"
                         class="border-radius-100 shadow"
                         width="40"
                         height="40"
                         alt=""/>
                  </div>
                  <div class="txt">
                    <div class="weight-600">{{product.name}}</div>
                  </div>
                </div>
              </td>
              <td>{{product.price}} FCFA</td>
              <td><input class="form-control"  type="number" ng-model="product.quantity" min="1"></td>
              <td>{{product.quantity * product.price}} FCFA</td>
              <td>
                <div class="table-actions">
                  <button  data-bgcolor="#e7ebf5" data-color="#265ed7" class="btn btn-outline-info float-right" style="color: rgb(38, 94, 215);" ng-click="addItem(product)">
                    Ajouter</i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info float-left">Panier</h6>
        <a ng-href="#!/orders/clients" ng-show="cart.length != 0" class="btn btn-primary float-right">Suivant</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" >
            <thead class="thead-light">
            <tr>
              <th>Nom Produit</th>
              <th>Prix Unitaire</th>
              <th>Quantité</th>
              <th>Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cart">
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{getCost(item)}} FCFA</td>
              <td><div class="table-actions">
                <button   class="btn btn-outline-danger " ng-click="removeItem(item)">
                  Retirer</i></button>
              </div></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h3  class="float-left">Total: {{getTotal()}} FCFA</h3>
          <button ng-show="cart.length != 0" class="btn btn-danger float-right" ng-click="clearCart()">vider Panier</button>
        </div>
      </div>
    </div>
  </div>
</div>
