

<div class="card card-box pb-10">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-info float-left">Liste des Categories</h6>
    <a ng-href="#!/products/save" class="btn btn-outline-info float-right" >Nouvelle categorie</a>
  </div>
  <div class="card-body">
    <table class="data-table table nowrap" id="product_table">
      <thead>
      <tr>
        <th class="table-plus">id</th>
        <th>Nom</th>
        <th>Active</th>
        <th class="datatable-nosort">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="category in categories">
        <td class="table-plus">
          <div class="weight-600">{{category.id}}</div>
        </td>
        <td>{{category.name}}</td>
        <td>
          <span class="badge badge-pill"
                data-bgcolor="#e7ebf5"
                data-color="#265ed7"
                style="color: rgb(38, 94, 215); background-color: rgb(231, 235, 245);">active
          </span>
        </td>
        <td>
          <div class="table-actions">
            <a href="#!/products/{{category.id}}/edit" data-color="#265ed7" style="color: rgb(38, 94, 215);" ng-click="getClickedCategory(category)">
              <i class="icon-copy dw dw-edit2"></i></a>
            <a id="sa-params" data-color="#e95959" style="color: rgb(233, 89, 89);" ng-click="remove(category)">
              <i class="icon-copy dw dw-delete-3"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
