<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
        h1 {
            color: #25a7e7;
            text-align: center;
        }
        .receipt-header {
            width: 100%;
        }
        .receipt {
            width: 100%;
        }
        .receipt, .receipt th, .receipt td {
            border: 1px solid #25a7e7;
            border-collapse: collapse;
        }
        .receipt th {
            background-color: #25a7e7;
            color: white;
        }
        .total {
            text-align: right;
        }
	</style>
</head>
<body>
<h1>Receipt</h1>
<div>
	<table class="receipt-header">
		<tr>
			<td>
				<table>
					<tr>
						<th>Facture De :</th>
					</tr>
					<tr>
						<td th:text="'Nom Client: ' + ${customer.name}"></td>
					</tr>
					<tr>
						<td th:text="'Téléphone: ' + ${customer.phone}"></td>
					</tr>
					<tr>
						<td th:text="'Ville: ' + ${customer.city}"></td>
					</tr>
					<tr>
						<td th:text="'Quartier: ' + ${customer.quarter}"></td>
					</tr>
				</table>
			</td>
			<td align="right">
				<table>
					<tr>
						<th>Bill To:</th>
					</tr>
					<tr>
						<td th:text="'Date ' + ${date}"></td>
					</tr>
					<tr>
						<td th:text="'Téléphone: ' + ${customer.phone}"></td>
					</tr>
					<tr>
						<td th:text="'CAMEROON METAL'"></td>
					</tr>
					<tr>
						<td th:text="'Facture par: ' + ${userName}"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<br />
<table class="receipt">
	<tr>
		<th>Item #</th>
		<th>Ref Produit</th>
		<th>Description</th>
		<th>Quantity</th>
	</tr>
	<tr th:each="item, iterStat: ${products}">
		<td th:text="${iterStat.index + 1}"></td>
		<td th:text="${item.productRef}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.metrage}"></td>
	</tr>
</table>
</body>
</html>