<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card shadow m-3 border-bottom-secondary border-left-secondary rounded">
                <div class="card-header py-3">
                    <h4 class="font-weight-bold text-primary">Nouveau Client</h4>
                </div>
                <div class="card-body">
                    <form class="form" ng-submit="submit()">
                        <div class="row">
                            <!--              firstname field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="firstname">Prenom</label>
                                    <input type="text" id="firstname" class="form-control"
                                           placeholder="Prenom de l'utilisateur" name="firstname"
                                           ng-model="customer.firstname">
                                </div>
                            </div>
                            <!--              lastname field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="lastname">Nom</label>
                                    <input type="text" id="lastname" class="form-control"
                                           placeholder="nom de l'utilisateur" name="lastname" ng-model="customer.lastname">
                                </div>
                            </div>
                            <!--              ville field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="city-column">Ville</label>
                                    <input type="text" id="city-column" class="form-control"
                                           placeholder="Veuillez choisir la ville"
                                           name="city-column" ng-model="customer.city">
                                </div>
                            </div>
                            <!--              quartier field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="quarter">quartier</label>
                                    <input type="text" id="quarter" class="form-control"
                                           name="quarter" placeholder="Veuillez choisir le quartier"
                                           ng-model="customer.quarter">
                                </div>
                            </div>
                            <!--              telephone field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="telephone">Telephone</label>
                                    <input type="text" id="telephone" class="form-control"
                                           name="telephone" placeholder="autre numéro de téléphone"
                                           ng-model="customer.phone">
                                </div>
                            </div>
                            <!--              telephone 2 field-->
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="telephone_alt">Telephone 2</label>
                                    <input type="text" id="telephone_alt" class="form-control"
                                           name="telephone_alt" placeholder="autre numéro de téléphone"
                                           ng-model="customer.phone2">
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Sauvegarder</button>
                                <!--                  <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
